        .mainmenuwrapper {
                color: #BBFFFF;
                font-size: 11pt;
                font-family: Verdana,Helvetica,Arial,sans-serif;
                background: url("http://th06.deviantart.net/fs70/PRE/i/2012/177/6/d/thundurus_wallpaper_by_shineshizu-d54x5xd.jpg") no-repeat scroll top right;
        }
        .userlist {
                border-left: 1px solid #23686f;
                min-height: 100%;
                background: #9ed3e8;
        }
        .userlist li {
                border-bottom: 1px solid #23686f;
                height: 19px;
                font: 10pt Verdana, sans-serif;
                white-space: nowrap;
        }
