        .mainmenuwrapper {
                color: rgb(113, 27, 121);
                font-size: 11pt;
                font-family: Verdana,Helvetica,Arial,sans-serif;
                background: url("http://4.bp.blogspot.com/-B6IY0dbQs-4/TfuX9yC17qI/AAAAAAAAABU/f7M_zOn80Yw/s320/jumbo-zapdos-articuno-moltres1.jpg") no-repeat scroll top right;
        }
